header {
    background-color:lightpink;
    padding:20px 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color:black
}
.nav-links{
    display:flex;
    justify-content: space-between;
    
}
.nav-links a:hover,
.nav-links a.active {
    color:blue
}